* {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
body {
	font-family: "Roboto", sans-serif;
	width: 100vw;
}

/* MAIN CONTAINER */
.container-fluid {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}
/* NAVBAR */
nav {
	/* position: absolute !important; */
	z-index: 10;
	width: 100vw;
}
.navbar a {
	color: #fff;
}
.navbar ul {
	/* margin-left: auto; */
	margin-right: 4rem;
}
.navbar ul button {
	margin-left: 1rem;
	padding: 0.3rem;
	border-radius: 5px;
	background-color: #ffd2d5;
	border: none;
}
/* CAROUSEL */
.carousel-caption {
	text-align: justify !important;
}
.carousel-caption h5 {
	margin-top: auto;
	font-family: "Rubik", sans-serif;
	font-size: 55px;
}

.my-container {
	height: 100vh;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.myBtn {
	color: "white";
	background-color: #1ca3ec;
	text-align: center;
	border-radius: 5px;
	padding: 1rem;
	/* position: abso; */
	text-decoration: none;
	z-index: 10;
}

/* sections content */
.col-text {
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.col-md-6 h3 {
	font-family: "Rubik", sans-serif;
	font-size: 40px;
	margin-bottom: 3rem;
}
.col-md-6 a {
	text-decoration: none;
}
.col-md-6 img {
	width: max-content;
	height: max-content;
}

/* FORM */

.form-nav {
	background-color: #1ca3ec;
	height: 5rem;
	width: 100vw;
}
.card {
	margin-top: 5rem;
}
form div {
	margin: 0.5rem;
	text-align: center;
}
form div label {
	padding-top: 10px;
}
form div input {
	padding: 10px;
	border: #999 solid 1px;
	border-radius: 5px;
}

form button {
	float: right;
	margin-top: 1rem;
	margin-right: 4rem;
}

#form {
	margin-bottom: 5rem;
}
form {
	margin: 2rem;
}
